.App{
  justify-content: center;
  text-align: center;
}
body{
  background-color: black;
}

.header{
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px silver;
  border-radius: 50px;
  
}
.container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 30px;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}

.badge {
display: flex;
justify-content: end;
margin: 30px;
font-size: medium;
}

.card:hover{
  margin-bottom: 20px;  
  box-shadow: 15px 15px 15px silver;
}